 {% extends 'base.html.twig' %}
{% block TitreContenu %}
    <h1> Liste des Formations de l'IUT </h1>
    <h2> Choisissez une formation pour afficher les stages associés </h2>
{% endblock %}

{% block contenu %}
    {# affichage de la liste des formations  #}
    <ul class="list-group list-group-flush">
    {% for formation in listeFormations %}

        <li class="list-group-item"><a href="/formation/{{formation.getId()}}">  {{formation.getNomLong()}}  </a></li>
    {% else %}
        <p> Aucune formations </p>
    {% endfor %}
    </ul>
{% endblock %}
