{% extends 'base.html.twig' %}

{% block TitreContenu %}
    <h1> Liste des entreprise proposant un stage</h1>
    <h2> Choisissez une entreprise pour afficher les stages qu'elle propose </h2>
{% endblock %}

{% block contenu %}
    {# affichage de la liste des entreprises #}
    <ul class="list-group list-group-flush">
  

    {% for entreprise in listeEntreprises %}
        <li class="list-group-item"><a href="/entreprise/{{entreprise.getId()}}"> {{entreprise.getNom()}} </a></li>
    {% else %}
        <p> Aucune entreprise </p>
    {% endfor %}
    </ul>
{% endblock %}
