{% extends 'base.html.twig' %}

{% block TitreContenu %}
    <h1> Tous les stages </h1>
{% endblock %}

{% block contenu %}
    {# affichage de tous les stages disponible #}
    <table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">Nom du stage</th>
        <th scope="col">Nom de l'entreprise</th>
        </tr>
    </thead>
    <tbody>
    {% for stages in listeStages %}         
        <tr>
            <td><a href="/stages/{{stages.id}}">{{stages.titre}} </a></td>
            <td>{{stages.getEntreprise.nom}}</td>
        </tr>
        
    {% else %}
        <p> Aucun stage n'est actuellement proposé, revenez plus tard. </p> 
    {% endfor %}
     </tbody>
    </table>
{% endblock %}