 {% extends 'base.html.twig' %}
{% block TitreContenu %}
    <h1> Liste des stages pour la Formation {{formation.getNomLong()}} </h1>
{% endblock %}

{% block contenu %}
    {% for stage in formation.stages %}
        <div style ="border-bottom:solid grey 1px;">
        nom du stage:
        <a href="/stages/{{stage.id}}"> {{stage.titre}} <br></a>
        nom de l'entreprise : {{stage.getEntreprise.nom}} <br> 
        </a>
        <br><br>
        </div>
    {% else %}
        <p> Aucun stage </p>
    {% endfor %}
{% endblock %}
