{% extends 'base.html.twig' %}
{% block TitreContenu %}
<h1>Bienvenue sur la page d'accueil de Prostages</h1>
{% endblock %}
{% block contenu %}
    
    <ul>
        <li>
            <a href = "{{path('prostages_stages_id',{id:5})}}"> Tuto sur ... </a>
        </li>
        <li>
            <a href = "{{path('prostages_stages_id',{id:50})}}"> Tuto sur ... </a>
        </li>
        <li>
            <a href = "{{path('prostages_stages_id',{id:467})}}"> Tuto sur ... </a>
        </li>
    </ul>
{% endblock %}
