<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Prostages{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- BLOC FEUILLES DE STYLE -->
        {% block stylesheets %}
            <link href="{{asset('/css/bootstrap.min.css')}}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- BLOC TITRE -->
                    {% block TitreContenu %}
                    {% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-9" style ="border-top:solid grey 1px;border-bottom:solid grey 1px;">
                    <!-- BLOC CONTENU -->
                    {% block contenu %}
                    {% endblock %}
                </div>
                <div class="col-md-3" >
                    <!-- BLOC ASIDE -->
                    {% block aside %}
                    <a class="btn btn-primary" href="/" role="button">Revenir à l'accueil</a>
                    <p> <u>Trier les stages par:</u> </p>
                    
                        <a href = "{{path('prostages_formations')}}" class="list-group-item list-group-item-action"> Formations </a>
                        <a href = "{{path('prostages_entreprises')}}" class="list-group-item list-group-item-action"> Entreprises</a>
                    {% endblock %}
                </div>
            </div>
            <!-- BLOC PIED DE PAGE -->
        {% block footer %}
        <p>Site réalisé avec les framework Symfony et Bootstrap.</p>
        {% endblock %}  
        </div>
        

        <!-- BLOC JAVASCRIPT     -->
        {% block javascripts%}
            <script src="{{asset('/js/bootstrap.min.js')}}"></script>
        {% endblock %}
    </body>
</html>

