<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Prostages{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- BLOC FEUILLES DE STYLE -->
        {% block stylesheets %}
            <link href="{{asset('/css/bootstrap.min.css')}}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- BLOC TITRE -->
                    {% block TitreContenu %}
                    {% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-8" style ="border-top:solid grey 1px;border-bottom:solid grey 1px;">
                    <!-- BLOC CONTENU -->
                    {% block contenu %}
                    {% endblock %}
                </div>
                <div class="col-md-4" >
                    <!-- BLOC ASIDE -->
                    {% block aside %}
                    <button onclick="window.location.href='/'"> Revenir à l'accueil </button> <br>
                    <p> Trier les stages par: </p>
                    <ul>
                            <li>
                                <a href = "{{path('prostages_formations')}}"> Formations </a>
                            </li>
                            <li>
                                <a href = "{{path('prostages_entreprises')}}"> Entreprises</a>
                            </li>
                    </ul>
                    {% endblock %}
                </div>
            </div>
            <!-- BLOC PIED DE PAGE -->
        {% block footer %}
        <p>Site réalisé avec les framework Symfony et Bootstrap.</p>
        {% endblock %}  
        </div>
        

        <!-- BLOC JAVASCRIPT     -->
        {% block javascripts%}
            <script src="{{asset('/js/bootstrap.min.js')}}"></script>
        {% endblock %}
    </body>
</html>

