<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Prostages{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        
        {% block TitreContenu %}
        {% endblock %}

        
        {% block contenu %}
        {% endblock %}

        {% block aside %}

        <a href="/"> Revenir à l'accueil </a> <br>
        <p> Trier les stages par: </p>
        <ul>
                <li>
                    <a href = "{{path('prostages_formations')}}"> Formations </a>
                </li>
                <li>
                    <a href = "{{path('prostages_entreprises')}}"> Entreprises</a>
                </li>
        </ul>

        {% endblock %}

        
        {% block footer %}
        {% endblock %}

        {% block javascripts%}

        {% endblock %}

    </body>
</html>
